#navbar {
    height: 100%;
    width: 15%;
    border: 2px rgb(41, 32, 32) solid;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #41337A;

}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    background-color: rgb(166, 219, 215);
}

.nav-links {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    border-bottom: 2px solid rgb(119, 114, 114);
    font-family: 'Bree Serif', serif;
}


#nav-title {
    font-size: 35px;
    color: #fff;
    font-family: 'Bree Serif', serif;
    padding: 20px;
    margin-top: -10px;
}

#main-doc {
    margin-left: 350px;
}

h2 {
    font-size: 2em;
    font-family: 'Bree Serif', serif;
    margin-left: -20px;
}

p {
    font-size: 2em;
    margin-right: 50px;
    font-family: 'Roboto', sans-serif; 
}

li {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

a:hover {
    color: rgb(51, 19, 19);
}

.nav-links:hover {
    background-color: #C2EFEB;
}

#second-title {
    margin-top: 200px;
}

#usage {
    margin-top: 200px;
}

#text-4 {
    margin-top: 200px;
}

#dis {
    margin-top: 200px;
}

#img {
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 600px) {
    #img {
        width: 110px;
    }
    p {
        font-size: 10px;
        margin-left: -90%;
    }
    li {
        font-size: 10px;
        margin-left: -100%;
    }
    h2 {
        font-size: 12px;
        margin-left: -100%;
    }
    #navbar {
        width: 20%
    }
    .nav-links {
        font-size: 13px;
    }
    #nav-title {
        font-size: 23px;
    }
}

@media screen and (max-width: 400px) {
    p {
        font-size: 12px;
        margin-left: -210px;
    }
    li {
        font-size: 10px;
        margin-left: -220px;
    }
    h2 {
        font-size: 12px;
        margin-left: -230px;
    }
    #navbar {
        width: 20%
    }
    .nav-links {
        font-size: 8px;
    }
    #nav-title {
        font-size: 15px;
    }
    #img {
        width: 80px;
    }
}