#navbar {
    height: 100%;
    width: 15%;
    border: 2px rgb(27, 26, 26) solid;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #41337A;

}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    background-color: #C2EFEB;
}

.nav-links {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    margin-top: 20%;
    border-bottom: 2px solid rgb(119, 114, 114);
}

a {
    height: 5%;

}

#nav-title {
    font-size: 30px;
    color: #fff;
}

#main-doc {
    margin-left: 350px;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 2em;
    margin-right: 50px;
    font-family: 'Roboto', sans-serif; 
}